<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presidency - Student Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{%static 'css/sdashboard.css' %}">
</head>
<body>
    <!-- a0c4ff  -->

    <div class="studentdash">
        <nav class="setpapernav">
            <div class="logo">
                <a href="/" class="logoA"> <img class="logoImgsetPapers" src="{%static 'images/Logo.png' %}" alt="logo"> </a>
            </div>
            <div class="navlinks">
                <i class="fa fa-question-circle"></i>
                <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart fa-2x"></i>
            <a href="/logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
            </div>
        </nav>

        <div class="loadimg"><img src="{%static 'images/profpic.png' %}" alt="bgimg"></div>
        <div class="studtl">
          {% if course %}
            <H3>Hello, {{firstname}}</H3>
            <div class="userbox">
                <div><img class="imagersz" src="{%static 'images/profpic.png' %}" alt=""></div>
                <div>
                    <h4 id="studentname">Name </h4>
                    <h6 id="class">12 A</h6>
                </div>
                <div>
                  {% for course in course %}
                    <p id="package">Package: Bronze</p>
                    <div class="subasn">
                        <p >Subject Allotted:  </p><p id="subject">{{ course.courseName }}</p>
                    </div>
                  {% endfor %}
                </div>
                <div>
                    <button class="seebtn btn btn-primary"><a href="/studentProfile">See More</a></button>
                </div>
            </div>
            {% endif %}
        </div>


    </div>

</body>
</html>
